<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075349488127-ma0c82m2g20ndjsc4mg69oqgoal5u7tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075349488127-ma0c82m2g20ndjsc4mg69oqgoal5u7tb</string>
	<key>API_KEY</key>
	<string>AIzaSyDxv5XXkrD8NGd_VaKG5qYQqESe2wMxpVo</string>
	<key>GCM_SENDER_ID</key>
	<string>1075349488127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djuroalfirevic.StudyCards</string>
	<key>PROJECT_ID</key>
	<string>studycards-7e23c</string>
	<key>STORAGE_BUCKET</key>
	<string>studycards-7e23c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075349488127:ios:0ccc7b1a52afaddf55e7ca</string>
</dict>
</plist>