<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088198797240-vrsbt71va8bhj7t63u838jeu5aelrmst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088198797240-vrsbt71va8bhj7t63u838jeu5aelrmst</string>
	<key>API_KEY</key>
	<string>AIzaSyCn7BbyaLqSiUKo43rHyUvuSXtwc4m_P0o</string>
	<key>GCM_SENDER_ID</key>
	<string>1088198797240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.designcode.Advanced-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>weather-f8e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-f8e3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088198797240:ios:7ca507d8abee264765d14d</string>
	<key>DATABASE_URL</key>
	<string>https://weather-f8e3d.firebaseio.com</string>
</dict>
</plist>